Hello {{ user_name }},<br>
<br>
You requested a password reset to restore access to your account <strong>{{ user_email }}</strong><br>
<br>
Please click the link below to reset the password.<br>
<br>
{{ link }}<br>
<br>
If you did not request a password reset for your account, someone else might have entered your email address by mistake. If so, simply ignore this email.<br>
The reset link will be active for 30 minutes. The last 8 passwords used are not allowed for a new password.<br>
<br>

Sincerely,<br>
The team<br>